#ini {
  background-color: white;
  opacity: 0.9;
}

body {
  background-color: #F5FFFA;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; !important;
}

#img {
  max-height: 100px;
  position: relative;
  
}

#imgf {
  max-height: 50px;
  position: relative;
  text-align: right;
}

.rod1 {
  margin-top: 30%;
}

#myInput {
  border-radius: 15px;
}

#ta{
  font-size: 14px;
  font-weight: bold;
}